<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnaf.batch.core.te.mapper.BatchJobMapper">

    <resultMap id="BaseResultMap" type="com.dnaf.batch.core.te.entity.BatchJob">
        <id column="JOB_ID" property="jobId" />
        <result column="JOB_NAME" property="jobName" />
        <result column="JOB_GROUP" property="jobGroup" />
        <result column="JOB_STATUS" property="jobStatus" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <select id="selectJobPage" resultMap="BaseResultMap">
        SELECT * FROM BATCH_JOB
        WHERE DELETED = 0
        <if test="jobName != null and jobName != ''">
            AND JOB_NAME LIKE '%' || #{jobName} || '%'
        </if>
        ORDER BY CREATE_TIME DESC
    </select>

    <update id="updateJobStatus">
        UPDATE BATCH_JOB
        SET JOB_STATUS = #{status},
            UPDATE_TIME = SYSTIMESTAMP
        WHERE JOB_ID = #{jobId}
          AND DELETED = 0
    </update>

    <insert id="insert" parameterType="com.dnaf.batch.core.te.entity.BatchJob">
        <selectKey keyProperty="jobId" resultType="java.lang.Long" order="BEFORE">
            SELECT SEQ_BATCH_JOB.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO BATCH_JOB (JOB_ID, JOB_NAME, JOB_GROUP, JOB_STATUS, DELETED)
        VALUES (#{jobId}, #{jobName}, #{jobGroup}, #{jobStatus}, 0)
    </insert>

</mapper>
