server:
  port: 8082
spring:
  application:
    name: batch-admin

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  prometheus:
    metrics:
      export:
        enabled: true